<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- link style sheet-->
    <link rel="stylesheet" href="\static\style.css">


    <title>House Pricing Prediction Model</title>
</head>

<body>
    <div id='wholepage'>
        <div class="center">
            <h1 text-align: center;>Welcome to the House Pricing Prediction Model</h1><br>
            <h3>Please provide the dwelling charactristics:</h3>
            <form class="form" method="POST">
                <input class="forminput" name="text">
                <input class="formbutton" type="submit">
            </form>
            <h6>By Mohamed Mosad</h6>
        </div>
    </div>
</body>

</html>